<!DOCTYPE html>
<html class="x-admin-sm">
  
  <head>
    <meta charset="UTF-8">
	<div th:replace="_sub_head_res :: head"></div>
  </head>
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="name" class="layui-form-label">
                  <span class="x-red">*</span>名称
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="name" name="name" required="" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="code" class="layui-form-label">
                  <span class="x-red">*</span>编码
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="code" name="code" required="" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>
          <div class="layui-form-item">
              <label for="url" class="layui-form-label">
                  <span class="x-red">*</span>地址
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="url" name="url" lay-verify="required" autocomplete="off" class="layui-input">
              </div>
          </div>
<!--           <div class="layui-form-item"> -->
<!--               <label class="layui-form-label"><span class="x-red">*</span>角色</label> -->
<!--               <div class="layui-input-block"> -->
<!--                 <input type="checkbox" name="like1[write]" lay-skin="primary" title="超级管理员" checked=""> -->
<!--                 <input type="checkbox" name="like1[read]" lay-skin="primary" title="编辑人员"> -->
<!--                 <input type="checkbox" name="like1[write]" lay-skin="primary" title="宣传人员" checked=""> -->
<!--               </div> -->
<!--           </div> -->
<!--           <div class="layui-form-item"> -->
<!--               <label for="L_repass" class="layui-form-label"> -->
<!--               </label> -->
<!--               <button  class="layui-btn" lay-filter="add" lay-submit=""> -->
<!--                   增加 -->
<!--               </button> -->
<!--           </div> -->
      </form>
    </div>
    <!-- js -->
	<div th:replace="_sub_main_js :: main_js"></div>
    <script>
    layui.config({
	    base: ctxPath
	}).extend({
		app: 'js/app',		
	}).use(['app','form','jquery'], function() {
		  var $ = layui.jquery,
		  form = layui.form,
		  layer = layui.layer;
        
          //自定义验证规则
          form.verify({
            nikename: function(value){
              if(value.length < 5){
                return '昵称至少得5个字符啊';
              }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,repass: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                    return '两次密码不一致';
                }
            }
          });

          //监听提交
          form.on('submit(add)', function(data){
            console.log(data);
            //发异步，把数据提交给php
            layer.alert("增加成功", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
                // 可以对父窗口进行刷新 
                x_admin_father_reload();
            });
            return false;
          });
          
          
        });
    </script>
  </body>

</html>