<!DOCTYPE html>
<html class="x-admin-sm">
<div th:fragment="main_js">
	<script th:src="@{/lib/jquery/jquery-3.3.1.js}"  type="text/javascript"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
	<script th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
	<script th:src="@{/js/xadmin.js}" type="text/javascript"></script>
	<script th:src="@{/js/cookie.js}" type="text/javascript"></script>
	<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
	<!--[if lt IE 9]>
	      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
	      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	<script type="text/javascript" th:inline="javascript">
		const ctxPath  = [[@{/}]];
	</script>
</div>
</html>
